.playersBar {
    padding: 14px;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(6px);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(200, 200, 200, 0.3);
    color: #3b7080;
    font-weight: 600;

}

.playersBar hr {
    margin: 0px;

}

.player {
    display: block;
    background-color: #f0f8ff;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    color: #2f3e46;
    margin: 0px;

}

.player:hover {
    background-color: rgba(225, 238, 248, 0.9);

}

.hasGuessed {
    box-shadow: 0 0 0 1000px rgba(0, 255, 0, 0.3) inset;

}


@media (max-width: 768px) {
    .playersBar {
        font-size: 14px;
        padding: 10px;
    
    }
    
    .player {
        font-size: 13px;
        padding: 5px 10px;
    
    }

}