.keyboard {
  padding: 10px;
  background-color: #EEF4ED;
  border: 2px solid #3B7080;
  border-radius: 8px;
  width: 20rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

  margin: auto;

}

.emoji {
  font-size: 30px;
  cursor: pointer;
  margin: 5px;
  transition: transform 0.2s ease-in-out;
  color: #3B7080;

}

.emoji:hover {
  transform: scale(1.2);

}

.emojiContainer {
  overflow-y: auto;
  height: 12em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

}

.emojiNameInput {
  width: 100%;
  padding-bottom: 10px;
  margin: auto;

  display: flex;
  flex-flow: row nowrap;

}

.emojiNameInput input {
  flex-grow: 1;
  
}

.backspaceIcon{
  height: 2rem;
  width: auto;
  flex-shrink: 0;

}