.keyboard {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #FF6B35;
    border: 2px solid #3B7080;
    border-radius: 8px;
    width: 220px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .emoji {
    font-size: 20px;
    cursor: pointer;
    margin: 5px;
    transition: transform 0.2s ease-in-out;
    color: white;
  }
  
  .emoji:hover {
    transform: scale(1.2);
  }
  
  .input-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .emoji-button {
    background-color: #3B7080;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .emoji-button:hover {
    background-color: #2a5666;
  }
  