.keyboard {
  padding: 10px;
  background-color: #EEF4ED; /* Új háttérszín */
  border: 2px solid #3B7080;
  border-radius: 8px;
  width: 20rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

  margin: auto;

}

.emoji {
  font-size: 30px; /* Nagyobb emojik */
  cursor: pointer;
  margin: 5px;
  transition: transform 0.2s ease-in-out;
  color: #3B7080; /* Emeléssel kiemelt szín */

}

.emoji:hover {
  transform: scale(1.2);

}

.emojiContainer {
  overflow-y: auto;
  max-height: 12em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

}

.emojiNameInput {
  display: block;
  width: 100%;

  padding-bottom: 10px;
  margin: auto;

}

.emojiNameInput input {
  width: 100%;
  
}