/* ReadSuggestion.module.css */

.container {
  display: flex;
  min-height: 100vh;
  align-items: stretch;
}

.sidebar {
  width: 20%;
  background-color: #FF6B35;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}


.sidebarFixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  background-color: #FF6B35;
  padding: 20px 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarSpacer {
  height: 150px; /* Ez a fixed tartalom magassága */
}

.sidebarHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #FF6B35; /* biztosítjuk, hogy a fejléc színe ugyanaz */
}

.sidebarProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileName {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.profileAvatar {
  font-size: 30px;
}

.sidebarButton {
  width: 90%;
  padding: 10px;
  background-color: #36454F;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px 0;
  font-size: 16px;
  transition: background-color 0.3s;
}

.sidebarButton:hover {
  background-color: #2a2a2a;
}

.mainContent {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f4;
  
}

.reviewList {
  max-width: 900px;
  margin: 0 auto;
}

.reviewItem {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.p {
  font-size: 16px;
  color: #333;
  margin-bottom: 8px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.approveBtn, .rejectBtn {
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
}

.approveBtn {
  background-color: #3B7080;
  color: white;
}

.approveBtn:hover {
  background-color: #2a5666;
}

.rejectBtn {
  background-color: #FF6B35; /* A kért szín */
  color: white;
}

.rejectBtn:hover {
  background-color: #E25B2F; /* Sötétebb árnyalat a hover hatáshoz */
}

.noSuggestion {
  text-align: center;
  margin-top: 50px;
}

.noSuggestion h1 {
  font-size: 24px;
  color: #555;
}

.noSuggestion p {
  color: #777;
}
